<div>
  <mat-form-field appearance="fill" style="width: 100%; font-family: 'Palatino Linotype', 'Book Antiqua', Georgia, serif;">
    <mat-label style="color:green; font-weight: bold;">Tipos</mat-label>
    <mat-select 
      [(value)]="tipoEscogido" 
      (selectionChange)="listarFestivosPorTipo()" 
      style="color: black; font-family: 'Palatino Linotype', 'Book Antiqua', Georgia, serif;">
      
      <mat-option 
        *ngFor="let c of tipos" 
        [value]="c" 
        style="background-color: #0d9adb; color: white;">
        {{ c.nombre }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <ngx-datatable 
    class="material striped"
    [rows]="festivos"
    [columns]="columnas"
    [columnMode]="modoColumna"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    style="
      font-family: 'Palatino Linotype', 'Book Antiqua', Georgia, serif;
      background-color: white;
      border-radius: 8px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      padding: 10px;
      color: #333;
    ">
  </ngx-datatable>
</div>



<div class="container">
  <h1>Agregar Tipo</h1>
  <input [(ngModel)]="tipo.nombre" placeholder="Nombre del Tipo" />
  <button (click)="agregarTipo()">Agregar</button>

  <hr>

  <h2>Consultar Tipo por ID</h2>
  <input [(ngModel)]="idConsulta" type="number" placeholder="ID a Consultar" />
  <button (click)="consultarTipoPorId()">Consultar</button>

  <div *ngIf="tipoConsultado">
    <h3>Tipo Consultado:</h3>
    <p><strong>ID:</strong> {{ tipoConsultado.id }}</p>
    <p><strong>Nombre:</strong> {{ tipoConsultado.nombre }}</p>
  </div>

  <hr>

  <h2>Listar Todos los Tipos</h2>
  <button (click)="listarTipos()">Listar Todos</button>

  <table *ngIf="(lenght$ | async) > 0" border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tipo of tipos">
        <td>{{ tipo.id }}</td>
        <td>{{ tipo.nombre }}</td>
      </tr>
    </tbody>
  </table>

  <hr>

  <h2>Modificar Tipo</h2>
  <input [(ngModel)]="idModificar" type="number" placeholder="ID a Modificar" />
  <input [(ngModel)]="tipo.nombre" placeholder="Nuevo Nombre del Tipo" />
  <button (click)="actualizarTipo()">Modificar</button>

  <hr>

  <h2>Eliminar Tipo</h2>
  <input [(ngModel)]="idEliminar" type="number" placeholder="ID a Eliminar"/>
  <button (click)="eliminarTipo()">Eliminar</button>

<button mat-raised-button color="primary" (click)="irPaginaInicio('')">Volver al Inicio</button>
</div>
  